.history{
    width: 40% ;
    border: 1px solid rgb(90, 98, 102);
    background-color: rgb(205, 214, 255);
    margin-left: 2.5%;
    margin-top: 1%;
    margin-bottom: 10%; 
    min-height:500px; 
}